* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* smooth scrolling */
html{
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body{
  width: 100vw;
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: rgb(53, 53, 53);
  background-color: rgb(225, 225, 225);
  min-width: 372px;
}
.scrolling-box{
  margin: 2rem;
  text-align: justify;
} 
section.main{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 850px;
  justify-content: center;
  scroll-snap-align: start;
}
h1{
  text-transform: uppercase;
  text-align: end;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
span.title{
  font-size: 2rem;
}
h2.name{
  margin: 3rem 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: right;
}
p.intro{
  margin: 30px 0 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: italic;
}
p.main{
  line-height: 1.5;
}
/* project page */
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a.project-link{
  outline: solid red;
  height: 200px;
  width: 200px;
  margin: 5px;
  filter: saturate(0);
  transition: 0.6s ease;
  margin: 20px;

}
a.project-link:hover{
transform: scale(1.5);
filter: saturate(1);
} 
a#project-bnq{
  background-image: url(/icons/beats&quiet-icon-green.png);
  background-size: contain;
  background-repeat: no-repeat
}
a#project-weather{
  background-image: url(/icons/weather.png);
  background-size: contain;
}
a#project-beer{
  background-image: url(/icons/beer-app.png);
  background-size: cover;
  background-repeat: no-repeat
}
/* contact page */
.info-container{
  text-align: center;
 font-size: 80%;
}
p.info-title{
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}
p.info-dot{
  margin: 0.5rem;
}
.scroll-link{
  margin: 2rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(53, 53, 53);
}
.scroll-link:hover{
  text-decoration: line-through;
  font-size: 1.1rem;
  transition: all 1s ease-in-out; 
}
/* footer */
footer{
  position: fixed;
  bottom: 0;
  max-height: 46px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.copyright{
  width: 70%; 
  text-align: center; 
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.273); 
  line-height: 0.2em;
  margin: 0 15% 10px; 
  font-size: 0.6rem;
}
.copyright span { 
  background: rgb(225, 224, 224); 
  padding: 0 20px; 
}
.icon{
  width: 3%;
  margin: 0 10px;
  opacity: 0.3;
}
/* nav bar */
header {
  font-family: 'Montserrat', sans-serif;
  z-index: 99;
  height: 15%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-width: 372px;
  background-image: linear-gradient(180deg, #1d1e229c, rgba(29, 30, 34, 0.357), transparent);
  mix-blend-mode:luminosity;
}
.navbar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 2rem;
  text-transform: uppercase;
}
.nav-branding{  
  font-size: 2.5rem;
  color:  rgb(53, 53, 53);
  text-decoration: none;
}
.s{
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 1.1rem;
}
.nav-item {
  list-style: none;
}
.nav-link {
  color:  rgb(54, 54, 54);
  text-decoration: none;
}
.nav-link:hover{
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  transition: 0.7s ease;
}
.hamburger {
  display: none;
  margin-top:15px;
  cursor: pointer;
} 
.bar{
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
  background-color: #1d1e22;
}
/* hamburger menu small screen */
@media only screen and (max-width: 768px) {
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color:  rgb(161, 159, 159);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color:  rgb(161, 159, 159);
  }
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.854);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s ease;
    
  }
  .nav-item{
    padding: 20px 0;
  } 
  .nav-menu.active{
    top: 0;
    left: 0;
  }
  .nav-link{
    color: rgb(126, 124, 124);
    font-size: 1rem;
  }
  .nav-link:hover{
    color:  white;
    text-decoration: line-through;
    transition: 0.7s ease;
  }
}

@media only screen and (max-width: 720px) {
  body{
    font-size: 1rem;
  }
  p.intro{
    line-height: 1rem;
  }
} 
@media only screen and (max-width: 545px) {
  body{
    font-size: 0.9rem;
  }
  p.intro{
    line-height: 1rem;
  }
} 
@media only screen and (max-width: 450px) {
  body{
    font-size: 0.9rem;
  }
  p.intro{
    line-height: 1rem;
  }
   h1{
    font-size: 2rem;
  }
  span.title{
    font-size: 1.5rem;
  }
} 